.sidebar {
  position: fixed;
  left: 0;
  top: 0;

  height: 100vh;
  width: 220px;

  padding: 2rem 1.5rem;

  display: flex;
  flex-direction: column;

  background: transparent;
}

.sidebar__logo {
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 0.75rem;

  font-size: 2.5rem;
  font-weight: 700;
  color: #6c843f;
}

.sidebar__logo img {
  width: 80px;
}

.sidebar__nav {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-top: 6rem;
}

.sidebar__link {
  text-decoration: none;
  color: #6c843f;
  font-weight: 500;
  font-size: 1.2rem;

  padding: 0.8rem 1rem;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;

  background: linear-gradient(
    to right,
    rgba(108, 132, 63, 0.18) 0%,
    rgba(108, 132, 63, 0.1) 40%,
    rgba(108, 132, 63, 0.03) 70%,
    rgba(108, 132, 63, 0) 100%
  );

  backdrop-filter: blur(4px);

  transition:
    transform 0.25s ease,
    background 0.25s ease,
    box-shadow 0.25s ease;
}

.sidebar__link:hover {
  transform: translateX(6px);

  background: linear-gradient(
    to right,
    rgba(108, 132, 63, 0.3) 0%,
    rgba(108, 132, 63, 0.15) 40%,
    rgba(108, 132, 63, 0.05) 70%,
    rgba(108, 132, 63, 0) 100%
  );
}
