header {
  text-align: center;
  margin-top: 20px;
}

main {
  margin-top: 20px;
}

.page-title {
  color: #6c843f;
  font-family: "Satoshi-title", sans-serif;
  font-size: 2rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
}
