@font-face {
  font-family: "Satoshi";
  src: url("./assets/fonts/Satoshi-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Satoshi-title";
  src: url("./assets/fonts/Satoshi-Bold.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

* {
  font-family: "Satoshi", sans-serif;
}

main {
  margin-left: 220px;
  padding: 3rem;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

label {
  display: block;
  margin-top: 1rem;
  margin-bottom: 10px;
}

.address {
  margin-top: 10px;
}
